<nav class="navbar">
  <a href="/"><h1>My Locations</h1></a>
  <div class="links">
    <a href="/addlocation">New Location</a>
    <a class="new-item-link" href="/user/logout">Logout</a>
  </div>
</nav>
